<form nz-form>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="6" [nzPush]=2>
      <nz-form-item nzFlex>
        <nz-form-label >专利</nz-form-label>
        <nz-form-control>
          1
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6" [nzPush]=2>
      <nz-form-item nzFlex>
        <nz-form-label >商标</nz-form-label>
        <nz-form-control>
          1
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6" [nzPush]=2>
      <nz-form-item nzFlex>
        <nz-form-label >著作权</nz-form-label>
        <nz-form-control>
          1
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

