<div nz-row nzGutter="16" class="table-operations">
  <div nz-col class="gutter-row" nzSpan="6" [nzPush]=1>
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchValue" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="getResultBySearchName()"><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
  <div nz-col class="gutter-row" nzSpan="3" nzOffset="15">
  </div>
  <div nz-col nzSpan="22" [nzPush]=1 style="min-height: 750px">
    <nz-table #filterTable [nzData]="listOfData">
      <thead>
      <tr>
        <th nzWidth="12%">企业ID</th>
        <th nzWidth="15%">行业</th>
        <th>区域</th>
        <th nzWidth="22%"  nzShowFilter
             [nzFilters]="listOfIs"
             (nzFilterChange)="filter(listOfWarnName, $event)">是否为僵尸企业</th>
        <th nzWidth="17%" nzShowFilter
            [nzFilters]="listOfWarn"
            (nzFilterChange)="filter( $event,listOfIsName)">预警级别</th>
        <th>整改意见</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td><a routerLink="/info/{{data.companyId }}">{{ data.companyId }}</a></td>
        <td>{{ data.trade }}</td>
        <td>{{data.area}}</td>
        <td style="padding-left: 60px !important;">
          <span style="color: red" *ngIf="data.flag == 1">是</span>
          <span  *ngIf="data.flag != 1">否</span>
<!--          {{ data.flag == 1 ? '是僵尸企业' : '不是僵尸企业' }}-->
        </td>
        <td>
          <nz-tag [nzColor]="'#f50'" *ngIf="data.warningLevel >= 0.8">高</nz-tag>
          <nz-tag [nzColor]="'volcano'" *ngIf="data.warningLevel >= 0.6 && data.warningLevel < 0.8">中</nz-tag>
          <nz-tag [nzColor]="'orange'" *ngIf="data.warningLevel >= 0.5 && data.warningLevel < 0.6">低</nz-tag>
          <nz-tag [nzColor]="'green'" *ngIf="data.warningLevel < 0.5">无</nz-tag>
        </td>
        <td>
          <span  *ngIf="data.warningLevel >= 0.8">破产清退</span>
          <span *ngIf="data.warningLevel >= 0.6 && data.warningLevel < 0.8">兼并重组</span>
          <span  *ngIf="data.warningLevel >= 0.5 && data.warningLevel < 0.6">扶持发展</span>
          <nz-tag  *ngIf="data.warningLevel < 0.5"></nz-tag>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
