<div nz-row nzGutter="16" class="table-operations">
  <div nz-col class="gutter-row" nzSpan="6" [nzPush]=1>
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchValue" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="getResultBySearchName()"><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
  <div nz-col class="gutter-row" nzSpan="3" nzOffset="15">
  </div>
  <div nz-col nzSpan="22" [nzPush]=1 style="min-height: 750px">
    <nz-table #filterTable [nzData]="listOfData">
      <thead>
      <tr>
        <th>企业ID</th>
        <th  nzShowFilter
             [nzFilters]="listOfIs"
             (nzFilterChange)="filter( $event)">是否为僵尸企业</th>
        <th>预警级别</th>
        <th>整改意见</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td>{{ data.companyId }}</td>
        <td>{{ data.flag == 1 ? '是' : '否' }}</td>
        <td>
          <nz-tag [nzColor]="'#f50'" *ngIf="data.warningLevel >= 0.8">{{ data.warningLevel }}</nz-tag>
          <nz-tag [nzColor]="'volcano'" *ngIf="data.warningLevel >= 0.6 && data.warningLevel < 0.8">{{ data.warningLevel }}</nz-tag>
          <nz-tag [nzColor]="'orange'" *ngIf="data.warningLevel >= 0.5 && data.warningLevel < 0.6">{{ data.warningLevel }}</nz-tag>
          <nz-tag [nzColor]="'green'" *ngIf="data.warningLevel < 0.5">{{ data.warningLevel }}</nz-tag>
        </td>
        <td>{{ data.advice }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
