<div style=" padding: 30px;">
  <nz-row [nzGutter]="16">
    <app-chain-card ></app-chain-card>
    <nz-col nzSpan="24" style="padding-left: 0px !important; padding-right: 8px;">
      <div class="inner-content" >
        <app-chain-map  ></app-chain-map>
      </div>
    </nz-col>
    <nz-col nzSpan="24" style="padding-left: 0px !important; padding-right: 0px;">
      <div class="inner-content">
        <app-chain-table></app-chain-table>
      </div>
    </nz-col>
    <nz-col nzSpan="24">
      <div class="inner-content" style="min-height: 100px">
        <div>aaaaaaa</div>
      </div>
    </nz-col>
  </nz-row>
</div>
