<nz-col [nzSpan]="8" >
  <nz-card>
    <nz-statistic
      [nzValue]="11 "
      [nzTitle]="'现存僵尸企业'"
      [nzValueStyle]="{ color: 'blue' }"
    >
    </nz-statistic>
  </nz-card>
</nz-col>
<nz-col [nzSpan]="8">
  <nz-card>
    <nz-statistic
      [nzValue]="11 "
      [nzTitle]="'现存疑似僵尸企业'"
      [nzValueStyle]="{ color: 'blue' }"
    >
    </nz-statistic>
  </nz-card>
</nz-col>
<nz-col [nzSpan]="8">
  <nz-card>
    <nz-statistic
      [nzValue]="11 "
      [nzTitle]="'现存重症僵尸企业'"
      [nzValueStyle]="{ color: 'blue' }"
    >
    </nz-statistic>
  </nz-card>
</nz-col>
<nz-col [nzSpan]="8">
  <nz-card>
    <nz-statistic
      [nzValue]="11 "
      [nzTitle]="'累计僵尸企业'"
      [nzValueStyle]="{ color: 'blue' }"
    >
    </nz-statistic>
  </nz-card>
</nz-col>
<nz-col [nzSpan]="8">
  <nz-card>
    <nz-statistic
      [nzValue]="11 "
      [nzTitle]="'已兼并重组'"
      [nzValueStyle]="{ color: 'blue' }"
    >
    </nz-statistic>
  </nz-card>
</nz-col>
<nz-col [nzSpan]="8">
  <nz-card>
    <nz-statistic
      [nzValue]="11 "
      [nzTitle]="'新生企业'"
      [nzValueStyle]="{ color: 'blue' }"
    >
    </nz-statistic>
  </nz-card>
</nz-col>
