<nz-col [nzSpan]="12" class="left">
  <nz-card>
    <nz-statistic
      [nzValue]="11 "
      [nzTitle]="'僵尸企业'"
      [nzValueStyle]="{ color: 'blue' }"
    >
    </nz-statistic>
  </nz-card>
</nz-col>
<nz-col [nzSpan]="12" class="right">
  <nz-card>
    <nz-statistic
      [nzValue]="11 "
      [nzTitle]="'疑似僵尸企业'"
      [nzValueStyle]="{ color: 'blue' }"
    >
    </nz-statistic>
  </nz-card>
</nz-col>

<nz-col [nzSpan]="8" class="left">
  <nz-card>
    <nz-statistic
      [nzValue]="11 "
      [nzTitle]="'建议破产清退'"
      [nzValueStyle]="{ color: 'blue' }"
    >
    </nz-statistic>
  </nz-card>
</nz-col>
<nz-col [nzSpan]="8">
  <nz-card>
    <nz-statistic
      [nzValue]="11 "
      [nzTitle]="'建议兼并重组'"
      [nzValueStyle]="{ color: 'blue' }"
    >
    </nz-statistic>
  </nz-card>
</nz-col>
<nz-col [nzSpan]="8" class="right">
  <nz-card>
    <nz-statistic
      [nzValue]="11 "
      [nzTitle]="'建议注销成立'"
      [nzValueStyle]="{ color: 'blue' }"
    >
    </nz-statistic>
  </nz-card>
</nz-col>
