<nz-layout>
  <nz-header>
    <div class="logo"></div>

  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

        <li nz-menu-item routerLink="/first/single">
          <i nz-icon nzType="user"></i>
          <span>企业判定</span>
        </li>
        <li nz-menu-item routerLink="/result">
          <i nz-icon nzType="file"></i>
          <span>判定结果</span>
        </li>
        <li nz-menu-item routerLink="/data">
          <i nz-icon nzType="file"></i>
          <span>数据中心</span>
        </li>

        <li nz-menu-item routerLink="/echartts">
          <i nz-icon nzType="file"></i>
          <span>数据可视化</span>
        </li>
        <li nz-submenu nzTitle="数据可视化" nzIcon="team">
          <ul>
            <li nz-menu-item routerLink="/china">地图</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="layout">
      <nz-header class="header">
        <i
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></i>
      </nz-header>
      <nz-content >
        <div style="margin-bottom: 20px">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
