<nz-steps [nzCurrent]="current">
  <nz-step ></nz-step>
  <nz-step ></nz-step>
  <nz-step ></nz-step>
  <nz-step ></nz-step>
  <nz-step ></nz-step>
</nz-steps>

<div class="steps-content">
  <app-one *ngIf="index === 0"></app-one>
  <app-two *ngIf="index === 1"></app-two>
  <app-three *ngIf="index === 2"></app-three>
  <app-four *ngIf="index === 3"></app-four>
  <app-five *ngIf="index === 4"></app-five>
</div>
<div class="steps-action">
  <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
    <span>Previous</span>
  </button>
  <button nz-button nzType="default" (click)="next()" *ngIf="current < 4">
    <span>Next</span>
  </button>
  <button nz-button nzType="primary" (click)="done()" *ngIf="current === 4">
    <span>Done</span>
  </button>
</div>
