<form nz-form>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" [nzPush]=2>
      <nz-form-item nzFlex>
        <nz-form-label >企业名称(ID)</nz-form-label>
        <nz-form-control>
          {{ _id }}
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [nzPush]=2>
      <nz-form-item nzFlex>
        <nz-form-label >注册时间</nz-form-label>
        <nz-form-control>
          1
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [nzPush]=2>
      <nz-form-item nzFlex>
        <nz-form-label >行业</nz-form-label>
        <nz-form-control>
          1
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [nzPush]=2>
      <nz-form-item nzFlex>
        <nz-form-label >区域</nz-form-label>
        <nz-form-control>
          1
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [nzPush]=2>
      <nz-form-item nzFlex>
        <nz-form-label >企业类型</nz-form-label>
        <nz-form-control>
          1
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [nzPush]=2>
      <nz-form-item nzFlex>
        <nz-form-label >控制人类型</nz-form-label>
        <nz-form-control>
          1
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [nzPush]=2>
      <nz-form-item nzFlex>
        <nz-form-label >控制人持股</nz-form-label>
        <nz-form-control>
          1
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
</form>

