<div class="content">
  <div class="extra">
    <div>
      <img
        src="https://gw.alipayobjects.com/mdn/mpaas_user/afts/img/A*KsfVQbuLRlYAAAAAAAAAAABjAQAAAQ/original"
        alt="content"
      />
    </div>
  </div>
  <div class="main">
    <nz-descriptions [nzColumn]="7">
      <nz-descriptions-item nzTitle="企业名称" [nzSpan]="1" >zimo</nz-descriptions-item>
      <nz-descriptions-item nzTitle="行业" [nzSpan]="6"><a>421421</a></nz-descriptions-item>
      <nz-descriptions-item nzTitle="地区" [nzSpan]="1">北京</nz-descriptions-item>
      <nz-descriptions-item nzTitle="注册时间" [nzSpan]="6">2017-10-10</nz-descriptions-item>
      <nz-descriptions-item nzTitle="企业类型" [nzSpan]="1">1</nz-descriptions-item>
      <nz-descriptions-item nzTitle="控制人类型" [nzSpan]="1">1</nz-descriptions-item>
      <nz-descriptions-item nzTitle="控制人持股" [nzSpan]="1">1</nz-descriptions-item>
    </nz-descriptions>
  </div>
</div>
