<div nz-row nzGutter="16" class="table-operations" >

  <nz-page-header (nzBack)="goBack()" class="inner-content" nz-col class="gutter-row" nzSpan="22" [nzPush]=1 nzBackIcon>
    <nz-page-header-title>企业全息画像</nz-page-header-title>
      <nz-page-header-content>
        <div class="content">
          <div class="extra">
            <div>
              <img
                src="https://gw.alipayobjects.com/mdn/mpaas_user/afts/img/A*KsfVQbuLRlYAAAAAAAAAAABjAQAAAQ/original"
                alt="content"
              />
            </div>
          </div>
          <div class="main">
            <nz-descriptions [nzColumn]="6">
              <nz-descriptions-item nzTitle="企业名称" [nzSpan]="2" >{{zombie.id}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="行业" [nzSpan]="4"><a>{{zombie.tradeName}}</a></nz-descriptions-item>
              <nz-descriptions-item nzTitle="地区" [nzSpan]="2">{{zombie.areaName}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="注册时间" [nzSpan]="4">{{zombie.registerTime }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="企业类型" [nzSpan]="2">{{zombie.typeName}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="控制人类型" [nzSpan]="2">{{zombie.controlType}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="控制人持股" [nzSpan]="1">{{zombie.controlRatio}}</nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
      </nz-page-header-content>

  </nz-page-header>
  <nz-layout class="inner-content" style="background: #fff; margin-top: 16px;" nz-col class="gutter-row" nzSpan="22" [nzPush]=1 >
    <nz-header style="background: #fff; text-align: center">
      <h2>该僵尸企业可能性为<span [ngStyle]="{'color': color}">{{advice.probability}}%</span> ,属于<span [ngStyle]="{'color': color}">{{advice.grade}}</span>企业</h2>
    </nz-header>
    <nz-content>
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzSelected (click)="getIn()" routerLink="./ia">
          无形资产
        </li>
        <li nz-menu-item (click)="getIn()" routerLink="./fc">
          融资渠道
        </li>
        <li nz-menu-item (click)="getIn()" routerLink="./bs">
          资产负债
        </li>
        <li nz-menu-item (click)="getIn()" routerLink="./bc">
          营业情况
        </li>
      </ul>
      <div style="min-height: 200px">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</div>
